In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

***Pandas***

---

Pandas kütüphanesi ile bir veri bilimi projesindeki veri okua, veri ön işleme ve veri temizleme aşamaları yapılır.
Pandas farklı veri tipleri ile çalışabilir.

In [7]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#Pandas'daki read_csv metodu ile veri seti import edilir.
from subprocess import check_output
print(check_output(["ls", "/content/pokemon.csv"]).decode("utf8"))

import os
for dirname, _, filenames in os.walk("/kaggle/input"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/pokemon.csv

In [10]:
pokemon=pd.read_csv('pokemon.csv')

In [13]:
#series veri yapısı tek sütundan oluşur.
#DataFrame veri yapısı ise iki boyutludur(satır ve sütunlardan oluşur).
series=pokemon['Defense']
print(type(series))

<class 'pandas.core.series.Series'>

In [14]:
data_frame=pokemon[["Defense"]]
print(type(data_frame))

<class 'pandas.core.frame.DataFrame'>

In [16]:
print(3 > 2)
print(3!=2)  #karşılaştırma operatorleri
print(True and False)
print(True or False)

True
True
False
True

In [17]:
#Data Frame filtreleme
x=pokemon["Defense"]>200
pokemon[x]     #200 den yüksek defense key'ine sahip  olanları çekme.

       #          Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
224  225  Mega Steelix  Steel  Ground  ...       95     30           2      False
230  231       Shuckle    Bug    Rock  ...      230      5           2      False
333  334   Mega Aggron  Steel     NaN  ...       80     50           3      False

[3 rows x 12 columns]

In [18]:
#200 den yüksek defence değerine sahip ve attack değeri 100 den yüksek olanlaro pokemon.csvden çekmek için aşağıdaki filtrelemeyi kullanabiliriz.
pokemon[np.logical_and(pokemon['Defense']>200, pokemon['Attack']>100 )]

       #          Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
224  225  Mega Steelix  Steel  Ground  ...       95     30           2      False
333  334   Mega Aggron  Steel     NaN  ...       80     50           3      False

[2 rows x 12 columns]